/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* Apply to a specific class or element */
.scrollable-element {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}

/* Hide scrollbar for WebKit */
.scrollable-element::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

/* Show scrollbar on hover */
.scrollable-element:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.scrollable-element::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb */
.scrollable-element::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 10px;
}


.container{
    @apply 2xl:max-w-[1400px] mx-auto;
}

.text-body-sm{
    @apply font-[500] leading-[24px] text-[14px] text-muted-color;
}

.line-height-16px{
    @apply leading-[16px] font-[500] text-[14px] text-muted-color;
}

.text-body-xs{
    @apply font-[500] leading-[20px] text-[12px] text-muted-color;
}

.text-body-md{
    @apply font-[500] leading-[32px] text-[16px] text-text-primary;
}

.text-body-lg{
    @apply font-[500] leading-[32px] text-[24px] text-text-primary;
}

.text-body-xl{
    @apply font-[700] leading-[32px] text-[18px] text-text-primary;
}

.active-tab-button{
    @apply h-[28px] rounded-[8px] bg-active-tab-button text-text-primary font-[500] text-[12px] leading-[16px];
    box-shadow: 0 3px 1px 0 #0000000A;
    /*box-shadow: 0px 3px 8px 0px #0000001F;*/
}
